/* ------Base style which its based on mobile first design.------*/
*{
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1200px;
}

section{
	background-color: #bfb3b3;
	position: relative;
	margin: 1%;

}

p{
	padding: 50px;
	margin: 1%;
}

h1{
	text-align: center;
	margin-bottom: 50px;
}

h2{
	background-color: #715c5c;
	text-align: center;
	width: 200px;
	position: absolute;
	right: 0;
}
/* ------Desktop version------*/
@media (min-width: 992px){
	section{
		display: inline-block;
		float: left;
		width: 31%
	}
}
/* ------Tablet version------*/
@media (min-width: 768px) and (max-width: 991px){
	section{
		display: inline-block;
		float: left;
		width: 48%

	}
	#sec3{
		width: 98%
	}
}
